# git ignore file for auoms project

/build/config.mak
/build/Makefile.version
/build/build*.log
/build/CMakeCache.txt
/build/CMakeFiles/
/build/CTestTestfile.cmake
/build/Testing/
/build/cmake_install.cmake
/build/compile_commands.json
/intermediate/
/target/
auoms_version.h
env_config.h
/ext_include/
/cmake-build-debug/
/.idea/
/.vscode/
/.vs
/out/build/x64-Debug
build/CmdlineRedactorTests
build/ConfigTests
build/EventAggregatorTests
build/EventMatcherTests
build/EventProcessorTests
build/EventTests
build/ExecveConverterTests
build/FluentEventWriterTests
build/OMSEventWriterTests
build/OutputInputTests
build/PriorityQueueTests
build/ProcessInfoTests
build/ProcessTreeTests
build/QueueTests
build/SPSCDataQueueTests
build/StringTests
build/UserDBTests
build/auoms
build/auomscollect
build/auomsctl
build/fakeaudispd
build/file2sock
build/testreceiver
build/staging
build/rpmbuild
build/install_manifest.txt
