[Unit]
Description=OMS Audit data collection daemon
Documentation=man:auoms(8)

[Service]
Type=forking
Restart=on-failure
RestartSec=3
TimeoutSec=30
KillMode=process
ExecStart=/etc/init.d/auoms start
ExecStop=/etc/init.d/auoms stop
ExecReload=/etc/init.d/auoms reload
CPUWeight=5
CPUQuota=25%

[Install]
WantedBy=multi-user.target
